<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Gulp-project
        link(rel="stylesheet", href="styles/main.css")
    body
        div.wrapper
            header
                a(class="logotip" href="index.html")
                    img(src="img/Логотип.png", alt="Логотип компании")
                nav.navigation
                    ul
                        li
                            a(class="nav-ssylka" href="Features") Features
                        li
                            a(class="nav-ssylka" href="Integrations") Integrations
                        li
                            a(class="nav-ssylka" href="Pricing") Pricing
                        li
                            a(class="nav-ssylka" href="Company") Company
                        li
                            a(class="nav-ssylka" href="Blog") Blog
                        li
                            a(class="nav-ssylka" href="Get a demo") Get a demo
                        li
                            div.Login
                                a(class="nav-ssylka1" href="Login") 
                                a(class="nav-ssylka2" href="Login") Login
            main
                section.main-section1
                    div.main-section1-article1
                        h1 Find the right partners to<br> fuel your business growth
                        p Join a vibrant community of MSPs to forge long-lasting relationships with partners<br> that help you create excellent customer experiences
                        span.Register
                            a(href="index.html")
                                p Register today
                    div.main-section1-article2
                        span.main-section1-article2-img1
                            img(src="img/main-section1-img1.svg", alt="пожатие рук двух людей")
                        span.main-section1-article2-img2
                            img(src="img/main-section1-img2.svg", alt="человек поднимается по карьерной лестнице")
                    div.main-section1-article3
                        div.main-section1-article3-blok1
                            img(src="img/main-section1-треугольник1.png", alt="треугольник")
                        div.main-section1-article3-blok2
                            div.article3-blok2-img
                                img(src="img/main-section1-иконка1.png", alt="четыре квадрата")
                            p Be a part of the only All-In-One <br> platform for IT services
                        div.main-section1-article3-blok3
                            h2 List. Sell. Grow
                            div.article3-blok3-img
                                img(src="img/main-section1-иконка2.png", alt="увеличительное стекло")
                            p Come closer to finding your <br> next customer
                        div.main-section1-article3-blok4
                            div.article3-blok4-img
                                img(src="img/main-section1-иконка3.png", alt="график")
                            p Grow your business with a <br>single click
                        div.main-section1-article3-blok5
                            img(src="img/main-section1-треугольник2.png", alt="треугольник")
                section.main-section2
                    .main-section2-blok1
                        h3 Your channel program<br> on steroids<br><br>
                        p Tired of finding MSPs that can help you boost your<br> channel sales? You’re in luck, because they’re all here.
                    .main-section2-blok2
                        img(src="img/main-section2-img1.svg", alt="человек с подзорной трубой")
                    .main-section2-blok3
                        img(src="img/main-section2-img2.svg", alt="диалог двух человек")
                    .main-section2-blok4
                        h3 Become the vendor <br> everyone wants to buy from<br><br>
                        p Gain brand authority and visibility with the help of the <br> largest IT service ecosystem. Find customers who are <br> looking for your solution right now!<br><br>
                        a(href="index.html") Signup now
                            span.strelka1
                            span.strelka2
                    .main-section2-blok5
                        h3 It’s like having Your best<br> Salesman on autopilot<br><br>
                        p Share collaterals and documents that are<br> automatically branded. Leverage a rich partner<br>network that sells your solution exactly the way<br> your best salesman would.<br><br>
                        a(href="index.html") Signup now
                            span.strelka1
                            span.strelka2
                    .main-section2-blok6
                        img(src="img/main-section2-img3.svg", alt="человек с ракетой")
                    .main-section2-blok7
                        img(src="img/main-section2-img4.svg", alt="график")
                    .main-section2-blok8
                        h3 Track your channel <br> performance<br><br>
                        p Monitor the health and revenue of your channel <br> program and streamline your campaign to win more<br> customers within Zomentum.<br><br>
                        a(href="index.html") Signup now
                            span.strelka1
                            span.strelka2
                    .main-section2-blok9
                        h3 Get The best version of <br> Your sales playbook<br><br>
                        p Gather insights about top channel sellers and find<br> out what pitch and collaterals ensure maximum <br>profitability. Win happy customers with an<br>optimized sales playbook.<br><br>
                        a(href="index.html") Signup now
                            span.strelka1
                            span.strelka2
                    .main-section2-blok10
                        img(src="img/main-section2-img5.svg", alt="схема")
            footer.footer-nav
                div.footer-nav-blok1 
                    a(href="Product") Product<br><br>
                    div.a-min
                        a(href="Features") Features<br>
                        a(href="Pricing") Pricing<br>
                        a(href="Integrations ") Integrations<br> 
                        a(href="Product") Product
                div.footer-nav-blok2
                    a(href="Company") Company<br><br>
                    div.a-min
                        a(href="About us") About us<br>
                        a(href="Contact us") Contact us<br>
                        a(href="Submit a ticket") Submit a ticket<br>
                        a(href="Privacy policy") Privacy policy<br>
                        a(href="Terms & conditions") Terms & conditions
                div.footer-nav-blok3
                    a(href="Users") Users<br><br>
                    div.a-min
                        a(href="Login") Login<br>
                        a(href="Get a demo") Get a demo<br>
                        a(href="Talk to us") Talk to us<br>
                        a(href="Privacy policy") Privacy policy<br>
                        a(href="Terms & conditions") Terms & conditions
                div.footer-nav-blok4
                    a(href="Guides") Guides<br><br>
                    div.a-min
                        a(href="MSP") MSP<br>
                        a(href="MSP Sales") MSP Sales
                div.footer-nav-blok5
                    a(href="Contact Us") Contact Us<br><br>
                    div.a-min
                        a(href="Address") Address
                div.footer-nav-blok6
                    p © 2020 Pactora Inc. All rights reserved.
                div.footer-nav-blok7
                    p Follow us on social





                




        